{% extends 'base.html' %} 
{% load static %} 
{% block title %}Hult Prize{% endblock title %} 
{% block css %}
<style>
  #preloader{
  background: white url("{%static 'assets/spinner-gif.gif' %}") no-repeat center center;
  background-size: 10%;
  z-index: 100;
  height: 100vh;
  width: 100%;
  position: fixed;
}
</style>
<!-- icons -->
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- swiper css -->
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock css %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
  <strong>Message : </strong> {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-x"
      viewBox="0 0 16 16"
    >
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
      />
    </svg>
  </button>
</div>
{% endfor %}

<!-- preloader -->
<div id="preloader"></div>

<div class="extraMargin"></div>

<!-- content -->
<section>
  <div class="container container-first container-odd">
    <div class="textContent">
      <h1 class="heading">What is the Hult Prize?</h1>
      <p class="content">
        The Hult Prize Foundation transforms how young people envision their own possibillities
        as leaders of change in the world around them. With a US$ 1,000,000 global statup prize 
        as its anchor activity, the Hult Prize has brought Impact-focused programs, events and 
        trainings to over a million students globally, creating a pathway for youth everywhere to 
        take action to build a better world.
      </p>
    </div>
    <div class="imageContent">
      <img src="{% static 'assets/pic1.png' %}" />
    </div>
  </div>
  <div class="container container-even">
    <div class="imageContent">
      <img src="{% static 'assets/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg' %}" />
    </div>
    <div class="textContent">
      <h1 class="heading">
        Why you should participate?
      </h1>
      <p class="content">
        <strong>1. </strong>Certificates for all participants signed by former US President Bill Clinton and Ahmad Ashkar, CEO of Hult Foundation.
        <br>
        <strong>2. </strong>Mentorship and incubation opportunities from a renowned paned of investors and industry experts.
        <br>
        <strong>3. </strong>A chance to represent our college in the prestigious Hult Regional Finals held in one of six coutries around the globel.
        <br>
        <strong>4. </strong>Finally, a chance to enjoy an unparalleled learning experience, while solving some of the greatest challenges that plague humanity.
      </p>
    </div>
  </div>
  <div class="container container-odd">
    
    <div class="textContent">
      <h1 class="heading">
        This Year's Theme
      </h1>
      <p class="content">
        The Hult Prize organization has officially announced this year's problem statement: "Fashion urgently needs a makeover."
        <br>
Fashion is the world's  second most polluting industry with unsustainability and inhuman working conditions. You will need to brainstorm a game changing social venture that aligns with U.N Sustainable Development goals and positively impacts one or more key stages of the fashion value chain. 
<br>
The clock is ticking, so pull your socks up and start working on your B-plan.
 <br>
      </p>
      <a href="https://a.storyblok.com/f/133195/x/c87070884e/2023-hult-prize-challenge.pdf" target="_blank">
        Download the Challenge Pdf <i class="fa fa-file-pdf-o"></i> </a>
    </div>
    <div class="imageContent">
      <img src="{% static 'assets/challenge.png' %}" />
    </div>
  </div>
  <div class="container container-last container-even">
    <div class="imageContent">
      <img src="{% static 'assets/0x0.jpg' %}" alt="" />
    </div>
    <div class="textContent">
      <h1 class="heading">How to Register?</h1>
      <p class="content">
        To participate you must have at least 3 and maximum of 4 members in your team. <br><br>
        If you have decided all the members of your team, then the team leader can register (sign up) and then fill the details of all the other members. Other members will receive the request and can accept, following which they can be added to the team. In case they reject, team leader still has the option to add other members to his/her team.<br><br>
        If you cannot find other team members but wish to participate, then you can register and choose to join other teams by sending them a request. Once your request is accepted, you will be added to that team. Please note that you can only send a request once in 24 hours.
      </p>
    </div>
  </div>
</section>

<!-- timeline -->

<main>
  <h2 class="title">Timeline</h2>

<!-- 1 -->
  <div class="timeline">
    <h3 class="heading-timeline">REGISTRATIONS OPEN - 12 December 2022 </h3>
    <p class="content-timeline">
      Registrations opened for the application of Hult Prize
      <br>
      <a href="/signup" class="timelineLink"> Click here to Register <i class="fa-solid fa-pen-to-square"></i> </a>
    </p>
    
  </div>
  <!-- 2 -->
  <div class="timeline">
    <h3 class="heading-timeline">REGISTRATIONS CLOSE - 20 December 2022 </h3>
    <p class="content-timeline">
      Registrations will close for the On Campus Hult Prize on 20th December.
      <br>
    </p>
    
  </div>
  <!-- 3 -->
  <div class="timeline">
    <h3 class="heading-timeline">MOCK SESSION - 27 December 2022 </h3>
    <p class="content-timeline">
      There will be a mock session with 3 mentors on 27th December. 
      <br>
    </p>
  </div>
  <!-- 4 -->
  <div class="timeline">
    <h3 class="heading-timeline">ONCAMPUS ROUNDS - 29,30 December 2022 </h3>
    <p class="content-timeline">
      The much awaited On Campus Hult Prize round starts on 29th and continues till 30th.
      <br>
    </p>
  </div>
  <!-- 5 -->
  <div class="timeline">
    <h3 class="heading-timeline">ONCAMPUS ROUNDS WINNER DECLARATION - 2 January 2023 </h3>
    <p class="content-timeline">
      The winners for the On Campus Hult Prize round will be declared on 2nd Jan 2023.
      <br>
    </p>
  </div>

</main>

<!-- Swiper -->
<div class="swiper mySwiper" id="swiper">
    <div class="swiper-wrapper">

      <!-- slide 7 -->
      <div class="swiper-slide">
        <div class="swiperImg">
            <a href="https://www.instagram.com/p/Cm80b_CvzKB/" target="_blank">
                <img class="imgTransition" id="imgTransition" src="{% static 'assets/NeoDynamo.png' %}" alt="">
            </a>
        </div>
        <div class="swiperContent">
            <div class="title">
              <h3>Winners</h3>
                <h2>2022</h2>
            </div>
            <p class="contentTransition" id="contentTransition">
              Team EDC is proud to announce Team "Neo Dynamo" as the winning team of 
              HULT Prize '23 , OnCampus Round, NIT Durgapur. The team comprised of 1st-year 
              students, namely Arkarup Mitra, Kushagra Lal, Apratim Das and Souryadipta Khan. 
              Their idea involves the use of stable diffusion AI to provide custom fashion 
              designs for a fee.
            </p>
            
        </div>
      </div>


      <!-- slide 8 -->
      <div class="swiper-slide">
        <div class="swiperImg">
            <a href="https://www.instagram.com/p/Cm8zwCfPNbP/" target="_blank">
                <img class="imgTransition" id="imgTransition" src="{% static 'assets/Dumbledore.png' %}" alt="">
            </a>
        </div>
        <div class="swiperContent">
            <div class="title">
              <h3>Runnerups</h3>
                <h2>2022</h2>
            </div>
            <p class="contentTransition" id="contentTransition">
              Team EDC is proud to announce Team " Dumbledore " as the joint runner up of HULT 
              Prize '23, OnCampus Round, NIT Durgapur. The team comprised of 1st-year students, 
              namely Argha Deep Metya, Debojit Low, Asish Ghosh and Kousik Pal. Their idea is 
              to replace the traditional silk with Lotus silk which opts as the best alternative
               option and is eco friendly as well.
            </p>
            
        </div>
      </div>


      <!-- slide 9 -->
      <div class="swiper-slide">
        <div class="swiperImg">
            <a href="https://www.instagram.com/p/Cm8y8tzPPrW/" target="_blank">
                <img class="imgTransition" id="imgTransition" src="{% static 'assets/Style_Swap.png' %}" alt="">
            </a>
        </div>
        <div class="swiperContent">
            <div class="title">
              <h3>Runnerups</h3>
                <h2>2022</h2>
            </div>
            <p class="contentTransition" id="contentTransition">
              Team EDC is proud to announce Team " Style_Swap " as the joint runner up of HULT Prize 
              '23 , OnCampus Round, NIT Durgapur. The team comprised of 1st-year students, namely 
              Mohd Shoeb, Akash Dutta, Rohan Dutta and Ritik Kumar Bind. Their idea is to escalate 
              fashion by providing the latest trends on a rental basis thereby reducing clothes 
              per head and thus pollution.
            </p>
            
        </div>
      </div>

      <!-- slide 1 -->
      <div class="swiper-slide">
          <div class="swiperImg">
              <a href="https://www.instagram.com/p/Ca17rJDPTZV/" target="_blank">
                  <img class="imgTransition" id="imgTransition" src="{% static 'assets/Trouvaillieur.png' %}" alt="">
              </a>
          </div>
          <div class="swiperContent">
              <div class="title">
                <h3>Winners</h3>
                  <h2>2021</h2>
              </div>
              <p class="contentTransition" id="contentTransition">
                  Team EDC is proud to announce Team "Trouvailleur" as the Winner of HULT Prize '22, 
                  OnCampus Round, NIT Durgapur. The team comprised of 1st year students, namely 
                  Hiya Aidasani, Aditya Agarwal, Debanjan Bhattacharjee and Kshitiz Chadha. 
                  Their idea involves the integration of real and 
                  virtual tourism, and thus providing employments for local communities.
              </p>
              
          </div>
      </div>

      <!-- slide 2 -->
      <div class="swiper-slide">
          <div class="swiperImg">
              <a href="https://www.instagram.com/p/Ca16tjAPxv0/" target="_blank">
                  <img class="imgTransition" id="imgTransition" src="{% static 'assets/AAKARSH.png' %}" alt="">
              </a>
          </div>
          <div class="swiperContent">
              <div class="title">
                <h3>RunnerUps</h3>
                  <h2>2021</h2>
              </div>
              <p class="contentTransition" id="contentTransition">
                Team EDC is proud to announce Team "Aakarsh" as the Joint Runner Up of HULT Prize '22, 
                OnCampus Round, NIT Durgapur. The team comprised of 1st year students, namely Priyanshu Bartwal, 
                Anshu Agarwal, Liza Gupta and Bedabrata Brahma. Their idea involves the revival of the 
                captivating collection of lost Indian culture and providing the local artisans, a platform to manufacture
                products and art in old traditional ways along with a ready market.
              </p>
              
          </div>
      </div>

      <!-- slide 3 -->
      <div class="swiper-slide">
        <div class="swiperImg">
            <a href="https://www.instagram.com/p/Ca17D6ePz-f/" target="_blank">
                <img class="imgTransition" id="imgTransition" src="{% static 'assets/Homely Bites.png' %}" alt="">
            </a>
        </div>
        <div class="swiperContent">
            <div class="title">
              <h3>RunnerUps</h3>
                <h2>2021</h2>
            </div>
            <p class="contentTransition" id="contentTransition">
              Team EDC is proud to announce Team "Homely Bites" as the Joint Runner Up of HULT Prize '22, OnCampus Round, NIT Durgapur. 
              The team comprised of 1st year students, namely Mohd Shoeb, Poorab Kumar, Sanvie Singhal and Manshi Singh. Their idea 
              involves the provision of home-style meals and local delicacies, prepared by small scale shops at minimal price and time.
            </p>
            
        </div>
      </div>

      <!-- slide 4 -->
      <div class="swiper-slide">
        <div class="swiperImg">
            <a href="https://www.instagram.com/p/CI0sqR-jmD6/" target="_blank">
                <img class="imgTransition" id="imgTransition" src="{% static 'assets/Vikaar.jpg' %}" alt="">
            </a>
        </div>
        <div class="swiperContent">
            <div class="title">
              <h3>Winners</h3>
                <h2>2019</h2>
            </div>
            <p class="contentTransition" id="contentTransition">
              Team 'Vikaar' was adjudged the Winners at the first Hult Prize OnCampus Finals at NIT Durgapur. 
              Comprising of 2nd year students, Abha Jha, Ankit Rai, Ritabrata Ganguly and Sebontika Bose, 
              their idea was based on the use of surplus grain and properly channelling it into useful 
              products and food items.
              The uniqueness and creativity in their idea really impressed the judges who unanimously 
              declared them the winners.
            </p>
            
        </div>
      </div>

      <!-- slide 5 -->
      <div class="swiper-slide">
        <div class="swiperImg">
            <a href="https://www.instagram.com/p/CI0oPdGj1pH/" target="_blank">
                <img class="imgTransition" id="imgTransition" src="{% static 'assets/Sahara.jpg' %}" alt="">
            </a>
        </div>
        <div class="swiperContent">
            <div class="title">
              <h3>RunnerUps</h3>
                <h2>2019</h2>
            </div>
            <p class="contentTransition" id="contentTransition">
              Team 'Sahara' was adjudged the 1st Runner-up at the first Hult Prize OnCampus Finals at 
              NIT Durgapur. Comprising of 1st year students, Purvi Binani, Shruti Sharma, Zoya Ahmed and 
              Sudeshna Saha, their idea revolves around setting up 'Healthy Vending' machines to provide 
              nutritious meals using produce from nearby farms to cater to the needs of corporate sectors, 
              colleges and hospitals.
            </p>
            
        </div>
      </div>

      <!-- slide 6 -->
      <div class="swiper-slide">
        <div class="swiperImg">
            <a href="https://www.instagram.com/p/CI0gK19Dji0/" target="_blank">
                <img class="imgTransition" id="imgTransition" src="{% static 'assets/Morph.jpg' %}" alt="">
            </a>
        </div>
        <div class="swiperContent">
            <div class="title">
              <h3>RunnerUps</h3>
                <h2>2019</h2>
            </div>
            <p class="contentTransition" id="contentTransition">
              Team 'Morph' was adjudged the 2nd Runner-up at the first Hult Prize OnCampus Finals at 
              NIT Durgapur. Comprising of 2nd year students, Devansh Goyal, Raj Gaurav, Aniket Verma and 
              Pushpanjali Bharti, their idea was to directly link farmers with local restaurants, thus 
              eliminating the middlemen in between and creating value and empowerment for both the farmers 
              and the local restaurants.
            </p>
            
        </div>
      </div>

      

  </div>
  <div class="swiper-button-next swiperBtn" id="autoClick"></div>
  <div class="swiper-button-prev swiperBtn"></div>
  <div class="swiper-pagination"></div>
</div>

<!-- footer -->
<footer class="footer">
  <div class="leftFooter">
    <div class="leftFooterContent">
      <h2>
        Entrepreneurship <br />
        Development Cell
      </h2>
      <h3>Nit Durgapur</h3>
    </div>
    <p>
      Made with <i class="fa fa-heart" aria-hidden="true"></i> by Web-Team
      <br />© 2022 EDC. All Rights Reserved.
    </p>
  </div>
  <div class="middleFooter">
    <div class="bottomBorder">
      <h2>CONTACT US</h2>
    </div>
    <p>
      <i class="fa fa-map-marker"></i> : Mahatma Gandhi Avenue,<br />
      A-Zone, Durgapur, West Bengal <br />
      Durgapur: 713209
      <br />
      <i class="fa fa-phone"></i> : +91 9123001251(Purvi)
      <br>
      <i class="fa fa-phone"></i> : +91 8335810111(Yash)
      <br />
      <i class="fa fa-envelope-o"></i> : edc@nitdgp.ac.in
    </p>
    <div class="socials">
      <div class="circle" id="twitter">
        <a href="https://twitter.com/edcnitd" target="_blank" rel="noopener noreferrer"
          ><i id="twitter-icon" class="fa fa-twitter"></i
        ></a>
      </div>
      <div class="circle" id="fb">
        <a href="https://www.facebook.com/edc.nitd" target="_blank" rel="noopener noreferrer"
          ><i id="fb-icon" class="fa fa-facebook"></i
        ></a>
      </div>
      <div class="circle" id="insta">
        <a href="https://www.instagram.com/edc.nitd/" target="_blank" rel="noopener noreferrer"
          ><i id="insta-icon" class="fa fa-instagram"></i
        ></a>
      </div>
      <div class="circle" id="yt">
        <a href="https://www.youtube.com/@entrepreneurshipdevelopmen7605" target="_blank" rel="noopener noreferrer"
          ><i id="yt-icon" class="fa fa-youtube"></i
        ></a>
      </div>
      <div class="circle" id="linkedin">
        <a href="https://in.linkedin.com/company/edcnitd" target="_blank" rel="noopener noreferrer"
          ><i id="linkedin-icon" class="fa fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="rightFooter">
    <div class="bottomBorder">
      <h2>USEFUL LINKS</h2>
    </div>
    <div class="usefulLinks">
      <ul>
        <li><a href="/" rel="noopener noreferrer">Home</a></li>
      </ul>
      <ul>
        <li>
          <a href="https://www.edcnitd.co.in/" target="_blank" rel="noopener noreferrer">EDC</a>
        </li>
      </ul>
      <ul>
        <li><a href="/signup" rel="noopener noreferrer">Register</a></li>
      </ul>
      <ul>
        <li><a href="/login" rel="noopener noreferrer">Login</a></li>
      </ul>
    </div>
  </div>
</footer>


{% endblock body %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="{%static 'js/swiper.js' %}"></script>
<script>
  const closeBtn = document.querySelector(".btn-close");
  if(closeBtn) {
    closeBtn.addEventListener("click", () => {
      document.querySelector(".alert").style.display = "none";
    });
  }
</script>
{% endblock script %}


