{% extends 'base.html' %} 
{% load static %} 
{% block title %}Hult Prize{% endblock title %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock css %}

{% block body %}
<section>
  <div class="container container-first container-odd">
    <div class="textContent">
      <h1 class="heading">What is the Hult Prize?</h1>
      <p class="content">
        The Hult Prize challenges young people around the world to solve the
        planet's most pressing issues through social entrepreneurship.
      </p>
    </div>
    <div class="imageContent">
      <img src="{% static 'assets/pic1.png' %}" />
    </div>
  </div>
  <div class="container container-even">
    <div class="imageContent">
      <img src="{% static 'assets/pic2.png' %}" />
    </div>
    <div class="textContent">
      <h1 class="heading">
        Meet the Startups Attending to the 2022 Global Accelerator
      </h1>
      <p class="content">
        Everyone we work with has a story worth hearing. Learn more about the
        startups attending our 2022 Accelerator Program in Boston, USA.
      </p>
    </div>
  </div>
  <div class="container container-last container-odd">
    <div class="textContent">
      <h1 class="heading">Getting the World Back to Work!</h1>
      <p class="content">
        The 2022 Hult Prize is focused on creating meaningful work opportunities
        at scale.
        <br /><br />
        <b>Please note:</b> entries for this year's Hult Prize are now closed.
      </p>
    </div>
    <div class="imageContent">
      <img src="{% static 'assets/pic2.png' %}" alt="" />
    </div>
  </div>
</section>
<!-- footer -->
<footer class="footer">
  <div class="leftFooter">
    <div class="leftFooterContent">
      <h2>
        Entrepreneurship <br />
        Development Cell
      </h2>
      <h3>Nit Durgapur</h3>
    </div>
    <p>
      Made with <i class="fa fa-heart" aria-hidden="true"></i> by Web-Team
      <br />© 2022 EDC. All Rights Reserved.
    </p>
  </div>
  <div class="middleFooter">
    <div class="bottomBorder">
      <h2>CONTACT US</h2>
    </div>
    <p>
      <i class="fa fa-map-marker"></i> : Mahatma Gandhi Avenue,<br />
      A-Zone, Durgapur, West Bengal <br />
      Durgapur: 713209
      <br />
      <i class="fa fa-phone"></i> : +91 82503 23647 (Sukanya Dutta)
      <br />
      <i class="fa fa-envelope-o"></i> : edc@nitdgp.ac.in
    </p>
    <div class="socials">
      <div class="circle" id="twitter">
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><i id="twitter-icon" class="fa fa-twitter"></i
        ></a>
      </div>
      <div class="circle" id="fb">
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><i id="fb-icon" class="fa fa-facebook"></i
        ></a>
      </div>
      <div class="circle" id="insta">
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><i id="insta-icon" class="fa fa-instagram"></i
        ></a>
      </div>
      <div class="circle" id="yt">
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><i id="yt-icon" class="fa fa-youtube"></i
        ></a>
      </div>
      <div class="circle" id="linkedin">
        <a href="#" target="_blank" rel="noopener noreferrer"
          ><i id="linkedin-icon" class="fa fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="rightFooter">
    <div class="bottomBorder">
      <h2>USEFUL LINKS</h2>
    </div>
    <div class="usefulLinks">
      <ul>
        <li><a href="#" target="_blank" rel="noopener noreferrer">Home</a></li>
      </ul>
      <ul>
        <li>
          <a href="/faqs" rel="noopener noreferrer"
            >FAQs</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
{% endblock body %}
