{% extends 'base.html' %} 
{% load static %} 
{% block title %}Hult Prize - View all Teams{% endblock title %}
{% block css %}
<style>
  #preloader{
  background: white url("{%static 'assets/spinner-gif.gif' %}") no-repeat center center;
  background-size: 10%;
  z-index: 100;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.burger {
  position: absolute;
  right: 15px;
}
</style>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="{% static 'css/join-team.css' %}" />
{% endblock css %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message : </strong> {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
  </button>
</div>
{% endfor %}
<!-- preloader -->
<div id="preloader"></div>


<div class="container">
    <div class="button createBtn">
        <a href="/create-team">
            Create Team
        </a>
        <a href="/my-team">
          My Team
        </a>
    </div>
    
    {% if data|length == 0 %}
    <div class="my-5">
      <h2>No teams have been formed yet. Create your own team to get started</h2>
    </div>
    {% else %}
    <div class="flex">
        {% for team in data %}
        <div class="card">
        <div class="title">
            <div class="badge badge-leader">
                <p>{{team.team_name}}</p>
            </div>
            {% if team.no_of_members == 3 %}
            {% comment %} <form action="/join-team" method="POST" class="button">
                {% csrf_token %}
                <input value="{{ team.auth_token }}" name="auth_token" hidden>
                <button type="submit" disabled title="Maximum 4 members can join a team">
                    Join Team
                </button>
            </form> {% endcomment %}
            {% elif team.is_leader != True and team.can_request == True %}
            <form action="/join-team" method="POST" class="button">
                {% csrf_token %}
                <input value="{{ team.auth_token }}" name="auth_token" hidden>
                <button type="submit">
                    Join Team
                </button>
            </form>
            {% elif team.is_leader != True and team.can_request == False %}
            <form action="/join-team" method="POST" class="button">
              {% csrf_token %}
              <input value="{{ team.auth_token }}" name="auth_token" hidden>
              <button type="submit" disabled title="Request can only be sent once in 24 hours">
                  Join Team
              </button>
            </form>
            {% else %}
            <form action="/join-team" method="POST" class="button">
              {% csrf_token %}
              <input value="{{ team.auth_token }}" name="auth_token" hidden>
              <button type="submit" disabled title="Delete all members from your team before sending request to other teams">
                  Join Team
              </button>
          </form>
            {% endif %}
        </div>
            <div class="leader">
                <h5 class="leader-name">{{team.leader}}</h5>
                <i class="fa-solid fa-crown"></i>
            </div>
            <div class="teamMembers">
                {% for t in team.team_member %}
                <p class="name">{{ t.first_name }} {{ t.last_name }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<!-- FOOTER -->
<footer class="footer">
  <div class="leftFooter">
    <div class="leftFooterContent">
      <h2>
        Entrepreneurship <br />
        Development Cell
      </h2>
      <h3>Nit Durgapur</h3>
    </div>
    <p>
      Made with <i class="fa fa-heart" aria-hidden="true"></i> by Web-Team
      <br />© 2022 EDC. All Rights Reserved.
    </p>
  </div>
  <div class="middleFooter">
    <div class="bottomBorder">
      <h2>CONTACT US</h2>
    </div>
    <p>
      <i class="fa fa-map-marker"></i> : Mahatma Gandhi Avenue,<br />
      A-Zone, Durgapur, West Bengal <br />
      Durgapur: 713209
      <br />
      <i class="fa fa-phone"></i> : +91 9123001251(Purvi)
      <br>
      <i class="fa fa-phone"></i> : +91 8335810111(Yash)
      <br />
      <i class="fa fa-envelope-o"></i> : edc@nitdgp.ac.in
    </p>
    <div class="socials">
      <div class="circle" id="twitter">
        <a href="https://twitter.com/edcnitd" target="_blank" rel="noopener noreferrer"
          ><i id="twitter-icon" class="fa fa-twitter"></i
        ></a>
      </div>
      <div class="circle" id="fb">
        <a href="https://www.facebook.com/edc.nitd" target="_blank" rel="noopener noreferrer"
          ><i id="fb-icon" class="fa fa-facebook"></i
        ></a>
      </div>
      <div class="circle" id="insta">
        <a href="https://www.instagram.com/edc.nitd/" target="_blank" rel="noopener noreferrer"
          ><i id="insta-icon" class="fa fa-instagram"></i
        ></a>
      </div>
      <div class="circle" id="yt">
        <a href="https://www.youtube.com/@entrepreneurshipdevelopmen7605" target="_blank" rel="noopener noreferrer"
          ><i id="yt-icon" class="fa fa-youtube"></i
        ></a>
      </div>
      <div class="circle" id="linkedin">
        <a href="https://in.linkedin.com/company/edcnitd" target="_blank" rel="noopener noreferrer"
          ><i id="linkedin-icon" class="fa fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="rightFooter">
    <div class="bottomBorder">
      <h2>USEFUL LINKS</h2>
    </div>
    <div class="usefulLinks">
      <ul>
        <li><a href="/" rel="noopener noreferrer">Home</a></li>
      </ul>
      <ul>
        <li>
          <a href="https://www.edcnitd.co.in/" target="_blank" rel="noopener noreferrer">EDC</a>
        </li>
      </ul>
      <ul>
        <li><a href="/signup" rel="noopener noreferrer">Register</a></li>
      </ul>
      <ul>
        <li><a href="/login" rel="noopener noreferrer">Login</a></li>
      </ul>
    </div>
  </div>
</footer>

{% endblock body %}

{% block script %}
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
  integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
  crossorigin="anonymous"
></script>
{% endblock script %}
