{% extends 'base.html' %} 
{% load static %}
{% block title %}Hult Prize - Login{% endblock title %}
{% block css %}
<style>
  #preloader{
  background: white url("{%static 'assets/spinner-gif.gif' %}") no-repeat center center;
  background-size: 10%;
  z-index: 100;
  height: 100vh;
  width: 100%;
  position: fixed;
}
</style>
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock css %}

{% block body %}
<!-- preloader -->
<div id="preloader"></div>

<div class="login-box">
  <div class="wrapper">
    <img id="logo" src="{% static 'assets/hultPrizeLogo.png' %}" />
    <div class="title-text">
      <div class="title login">Login</div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="/login" method="POST" class="login">
          {% csrf_token %}
          <div class="field">
            <input
              type="text"
              placeholder="Username"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="space"></div>
          <div class="field">
            <input
              type="password"
              placeholder="Password"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login" id="btnLogin" />
          </div>

          <div class="signup-link">
            Not a member? <a href="/signup">Signup now</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
