{% extends 'base.html' %}
{% block title %}Hult Prize - Login{% endblock title%}
{% block body %}
{% if user.is_authenticated %}
<h1>Already logged in</h1>
{% else %}
<div class="container my-2">
  <h1>Login</h1>
  <form class="my-2" action="/login" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
{% endif %}
{% endblock body %}
