{% extends 'base.html' %}
{% block title %}Hult Prize - Sign Up{% endblock title%}
{% block body %}
{% if user.is_authenticated %}
<h1>Logout to sign up</h1>
{% else %}
<div class="container my-2">
  <h1>Sign Up</h1>
  <form class="my-2" action="/signup" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Team Leader - Email address</label>
      <input type="email" class="form-control" id="email" name="email" />
    </div>
    <div class="mb-3">
      <label for="first_name" class="form-label"
        >Team Leader - First Name</label
      >
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
      />
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Team Leader - Last Name</label>
      <input type="text" class="form-control" id="last_name" name="last_name" />
    </div>
    <div class="mb-3">
      <label for="team_name" class="form-label">Team Name</label>
      <input type="text" class="form-control" id="team_name" name="team_name" />
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
      />
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
      />
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
{% endif %}
{% endblock body %}
