{% extends 'base.html' %} 
{% load static %} 
{% block title %}Hult Prize - Sign Up{% endblock title%} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock css %} 

{% block body %}
<div class="signup-box">
  <div class="wrapper">
    <img id="logo" src="{% static 'assets/hultPrizeLogo.png' %}" />
    <div class="title-text">
      <div class="title login">Sign up</div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="/signup" class="login" method="POST">
          {% csrf_token %}
          <div class="field">
            <input
              type="text"
              placeholder="Username"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="flexbox">
            <div class="field marginright">
              <input
                type="text"
                class="width50"
                placeholder="First Name"
                id="first_name"
                name="first_name"
              />
            </div>
            <div class="spacex"></div>
            <div class="field marginleft">
              <input
                type="text"
                class="width50"
                placeholder="Last Name"
                id="last_name"
                name="last_name"
              />
            </div>
          </div>
          <div class="space"></div>
          <div class="field">
            <input
              type="email"
              placeholder="Email Address"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="space"></div>
          <div class="field">
            <input
              type="text"
              placeholder="Phone No."
              id="phone-no"
              name="phone-no"
              required
            />
          </div>
          <div class="space"></div>
          <div class="field">
            <input
              type="password"
              placeholder="Password"
              id="password1"
              name="password1"
              required
            />
          </div>
          <div class="space"></div>
          <div class="field">
            <input
              type="password"
              placeholder="Confirm Password"
              id="password2"
              name="password2"
              required
            />
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Sign in" id="btnLogin" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
