.border {
  border-color: black;
  border-radius: 10px;
  border-width: thick;
}

.bg-white {
  background-color: white;
}
.form {
  margin-bottom: 100px;
}
.form-title {
  color: #667795;
  font-size: 14px;
  position: relative;
  top: 11px;
  line-height: 100%;
  height: 14px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  z-index: 9;
}

.customBadge {
  position: relative;
  left: 15px;
  top: -11px;
  background-color: rgb(230, 0, 127);
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: 0.3px;
  padding: 0 10px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}

.submit-area {
  background: #fcfcfc;
  padding: 0px 5vw;
  display: flex;
  align-items: center;
  box-shadow: 0 -4px 7px #7c7b7b17;
  width: 100%;
  height: 10vh;
  z-index: 100;
  bottom: 0px;
  position: fixed;
  border: 2px;
  border-color: black;
  /* opacity: 80%; */
}

.customBtnSubmit {
  width: 143px;
  background-color: rgb(230, 0, 127);
  color: rgb(247, 247, 247);
  height: 40px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  border: 0px;
  /* opacity: 100%; */
}
.customBtnSubmit:hover {
  background-color: rgb(180, 18, 107);
  transition: all 0.3s;
}

.area-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customBtnBack {
  width: 143px;
  background-color: #d63500;
  color: white;
  height: 40px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  border: 0px;
}
.customBtnBack:hover {
  background-color: #be2f00;
}

.custom-input {
  width: 100%;
  border: 1px solid #8b8b8b;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.375rem;
}

.custom-input:focus {
  outline: none;
  box-shadow: 0 1px 1px rgb(230, 0, 127);
}

.join-team-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}
.join-team-box a {
  /* background-color: rgb(230, 0, 127); */
  background-color: white;
  /* color: white; */
  border: 1px solid rgb(230, 0, 127);
  color: rgb(230, 0, 127);
  text-decoration: none;
  padding: 5px 7px;
  border-radius: 5px;
  margin-right: 15px;
}
.join-team-box a:hover {
  background-color: rgb(230, 0, 127);
  color: white;
  transition: all 0.2s;
}
.extraMargin {
  height: 80px;
}
