@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  width: 100%;
}

/*  */
/* Content */
/*  */
.container {
  margin: auto;
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.container-first {
  margin-top: 60px;
}
.container-last {
  margin-bottom: 60px;
}
.container-odd .imageContent {
  text-align: right;
}
.container-even .imageContent {
  text-align: left;
}
.textContent {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.textContent a {
  /* margin-top: 10px; */
  text-decoration: none;
  color: rgb(108, 108, 108);
  font-size: 20px;
}
.textContent a:hover {
  text-decoration: underline;
  color: rgb(108, 108, 108);
  /* font-size: 15px;
  transition: all 0.2s; */
}
.heading {
  /* font-family: 'Oswald', sans-serif; */

  font-size: 250%;
  padding: 2px;
  line-height: 50px;
}
.content {
  padding-top: 10px;
  padding-left: 2px;
  font-size: 16px;
  margin-bottom: 10px;
}

.imageContent {
  width: 50%;
  padding: 25px;
}
.imageContent img {
  width: 100%;
}

/* Content Responsive */
@media only screen and (max-width: 1112px) {
  .heading {
    font-size: 200%;
    padding: 1px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 970px) {
  .container {
    margin: 0px auto;
    width: 100%;
    flex-direction: column;
  }
  .heading {
    font-size: 200%;
    padding: 1px;
    line-height: 40px;
    text-align: left;
  }
  .content {
    text-align: left;
  }
  .textContent {
    width: 100%;
  }
  .imageContent {
    width: 100%;
  }
  .container-odd {
    flex-direction: column-reverse;
  }
  .imageContent img {
    width: 100%;
  }
}

/*  */
/* footer */
/*  */
.footer {
  background-color: rgb(23, 23, 23);
  color: white;
  display: flex;
  width: 100%;
  height: 400px;
  padding-top: 50px;
}

.leftFooter {
  width: 33%;
  padding: 40px;

  text-align: center;
}
.leftFooterContent {
  border-left: 5px solid rgb(230, 0, 127);
}
.leftFooterContent h2 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.leftFooterContent h3 {
  font-size: 15px;
  font-weight: 100;
  padding: 8px;
  font-weight: 600;
}
.leftFooter p {
  padding: 4px;
  font-size: 15px;
  line-height: 25px;
}
.fa-heart {
  color: red;
}

.middleFooter {
  width: 33%;
  padding: 40px;
}
.middleFooter h2 {
  font-size: 15px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.middleFooter p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 25px;
}
.socials {
  display: flex;
}
.circle {
  background-color: white;
  margin: 5px;
  padding: 2px;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}
.circle:hover {
  background-color: rgb(230, 0, 127);
  cursor: pointer;
}
.socials i {
  color: black;
  width: 100%;
  margin: 3.5px;
}

.rightFooter {
  width: 33%;
  padding: 40px;
}
.rightFooter h2 {
  font-size: 15px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.usefulLinks {
  padding-top: 20px;
  font-size: 15px;
  margin-left: 14px;
}
.rightFooter ul {
  list-style-type: circle;
  margin-top: 5px;
}
.usefulLinks a {
  text-decoration: none;
  color: white;
}
.usefulLinks a:hover {
  color: rgb(230, 0, 127);
}

/* footer responsive */
@media only screen and (max-width: 970px) {
  .footer {
    flex-direction: column;
    height: 900px;
  }
  .leftFooter {
    width: 100%;
  }
  .middleFooter {
    width: 40%;
  }
  .rightFooter {
    width: 40%;
  }
}
/*  */
/* Swiper */
/*  */

.swiper {
  width: 75%;
  border-radius: 10px;
  box-shadow: 6px 8px 20px 5px #186edf1a;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 28px;
}

.swiper-slide {
  width: 100%;
  font-size: 18px;
  z-index: 10;
  display: flex;
}
.swiperImg {
  width: 50%;
  margin: 10px;
  border-right: 5px solid rgb(230, 0, 127);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperImg img {
  width: 80%;
  display: block;
  margin: auto;
  transition: all 0.2s;
}
.swiperImg img:hover {
  width: 78%;
}
.swiperContent {
  width: 50%;
  margin: 10px;
  transition: all 1s;
  text-align: center;
}
.swiperContent p {
  font-size: 16px;
  margin-top: 5px;
  text-align: left;
  position: relative;
  top: -115px;
}
.swiperContent h2 {
  font-size: 40px;
}
.swiperContent h3 {
  position: relative;
  bottom: 96px;
  font-size: 78px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.233);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 970px) {
  .swiper-slide {
    flex-direction: column-reverse;
  }
  .swiperImg {
    border-right: 0px;
    width: 100%;
  }
  .swiperContent {
    width: 70%;
    margin: auto;
    text-align: center;
    border-bottom: 4px solid rgb(230, 0, 127);
    margin-bottom: 10px;
    /* top: -50px; */
    position: relative;
  }
  .swiperContent .title {
    height: 80px;
  }
  .swiperContent p {
    display: none;
    /* text-align: center; */
  }
}

.alert {
  width: 100%;
  height: 50px;
  margin-top: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border: 2px solid #badbcc;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border: 2px solid #f5c2c7;
}
.alert-info {
  color: #664d03;
  background-color: #fff3cd;
  border-color: 2px solid #ffecb5;
}
.btn-close {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  color: gray;
  position: fixed;
  right: 10px;
}
.btn-close:hover {
  cursor: pointer;
}
