@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  width: 100%;
}
.extraMargin {
  height: 40px;
}

/*  */
/* Content */
/*  */
.container {
  margin: auto;
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.container-first {
  margin-top: 60px;
}
.container-last {
  margin-bottom: 60px;
}
.container-odd .imageContent {
  text-align: right;
}
.container-even .imageContent {
  text-align: left;
}
.textContent {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.textContent a {
  /* margin-top: 10px; */
  text-decoration: none;
  color: rgb(108, 108, 108);
  font-size: 20px;
}
.textContent a:hover {
  text-decoration: underline;
  color: rgb(108, 108, 108);
  /* font-size: 15px;
  transition: all 0.2s; */
}
.heading {
  /* font-family: 'Oswald', sans-serif; */

  font-size: 250%;
  padding: 2px;
  line-height: 50px;
}
.content {
  padding-top: 10px;
  padding-left: 2px;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.imageContent {
  width: 50%;
  padding: 25px;
}
.imageContent img {
  width: 100%;
}

/* Content Responsive */
@media only screen and (max-width: 1112px) {
  .heading {
    font-size: 200%;
    padding: 1px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 970px) {
  .extraMargin {
    height: 70px;
  }
  .container {
    margin: 0px auto;
    width: 100%;
    flex-direction: column;
    padding-block-end: 10px;
    padding-block-start: 10px;
  }
  .heading {
    font-size: 200%;
    padding: 1px;
    line-height: 40px;
    text-align: left;
  }
  .content {
    text-align: justify;
    padding-top: 5px;
  }
  .textContent {
    width: 100%;
    padding: 15px;
  }
  .imageContent {
    width: 100%;
    padding: 15px;
  }
  .container-odd {
    flex-direction: column-reverse;
  }
  .imageContent img {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .extraMargin {
    height: 90px;
  }
  .container {
    font-size: 14px;
    padding-block-end: 5px;
    padding-block-start: 5px;
  }
  .textContent {
    padding: 2px;
  }
  .imageContent {
    padding: 2px;
  }
  .content {
    padding-top: 0px;
  }
}

/*  */
/* footer */
/*  */
.footer {
  background-color: rgb(23, 23, 23);
  color: white;
  display: flex;
  width: 100%;
  height: 400px;
  padding-top: 50px;
}

.leftFooter {
  width: 33%;
  padding: 40px;

  text-align: center;
}
.leftFooterContent {
  border-left: 5px solid rgb(230, 0, 127);
}
.leftFooterContent h2 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.leftFooterContent h3 {
  font-size: 15px;
  font-weight: 100;
  padding: 8px;
  font-weight: 600;
}
.leftFooter p {
  padding: 4px;
  font-size: 15px;
  line-height: 25px;
}
.fa-heart {
  color: red;
}

.middleFooter {
  width: 33%;
  padding: 40px;
}
.middleFooter h2 {
  font-size: 15px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.middleFooter p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 25px;
}
.socials {
  display: flex;
}
.circle {
  background-color: white;
  margin: 5px;
  padding: 2px;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}
.circle:hover {
  background-color: rgb(230, 0, 127);
  cursor: pointer;
}
.socials i {
  color: black;
  width: 100%;
  margin: 3.5px;
}

.rightFooter {
  width: 33%;
  padding: 40px;
}
.rightFooter h2 {
  font-size: 15px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.usefulLinks {
  padding-top: 20px;
  font-size: 15px;
  margin-left: 14px;
}
.rightFooter ul {
  list-style-type: circle;
  margin-top: 5px;
}
.usefulLinks a {
  text-decoration: none;
  color: white;
}
.usefulLinks a:hover {
  color: rgb(230, 0, 127);
}

/* footer responsive */
@media only screen and (max-width: 970px) {
  .footer {
    flex-direction: column;
    height: 900px;
  }
  .leftFooter {
    width: 100%;
  }
  .middleFooter {
    width: 50%;
  }
  .rightFooter {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .middleFooter {
    width: 100%;
  }
  .rightFooter {
    width: 100%;
  }
}
/*  */
/* Swiper */
/*  */

.swiper {
  width: 75%;
  border-radius: 10px;
  box-shadow: 6px 8px 20px 5px #186edf1a;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 28px;
}

.swiper-slide {
  width: 100%;
  font-size: 18px;
  z-index: 10;
  display: flex;
}
.swiperImg {
  width: 50%;
  margin: 10px;
  border-right: 5px solid rgb(230, 0, 127);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperImg img {
  width: 80%;
  display: block;
  margin: auto;
  transition: all 0.2s;
}
.swiperImg img:hover {
  width: 78%;
}
.swiperContent {
  width: 50%;
  margin: 10px;
  transition: all 1s;
  text-align: center;
}
.swiperContent p {
  font-size: 16px;
  margin-top: 5px;
  text-align: justify;
  position: relative;
}
.title {
  display: flex;
  /* flex-direction: row-reverse; */
}
.swiperContent h3 {
  font-size: 40px;
  margin-right: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.459);
}
.swiperContent h2 {
  font-size: 40px;
  text-align: left;
}

@media only screen and (max-width: 970px) {
  .swiper-slide {
    flex-direction: column-reverse;
  }
  .swiperImg {
    border-right: 0px;
    width: 100%;
  }
  .swiperContent {
    width: 70%;
    margin: auto;
    text-align: center;
    border-bottom: 4px solid rgb(230, 0, 127);
    margin-bottom: 10px;
  }
  .swiperContent .title {
    height: 50px;
    display: flex;
    justify-content: center;
  }
  .swiperContent h3 {
    font-size: 30px;
  }
  .swiperContent h2 {
    font-size: 30px;
  }
  .swiperContent p {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .swiperContent .title {
    height: 30px;
  }
  .swiperContent h3 {
    font-size: 20px;
  }
  .swiperContent h2 {
    font-size: 20px;
  }
}
.alert {
  width: 100%;
  height: 50px;
  /* margin-top: 60px; */
  top: 60px;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border: 2px solid #badbcc;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border: 2px solid #f5c2c7;
}
.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: 2px solid #ffecb5;
}
.btn-close {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  color: gray;
  position: absolute;
  right: 10px;
}
.btn-close:hover {
  cursor: pointer;
}

/*  */
/* timeline */
/*  */
/* @import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700"; */
/* body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 4em;
} */
main {
  min-width: 200px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
main .title {
  display: block;
  text-align: center;
  font-size: 40px;
  width: 30%;
  margin: auto;
  /* border-bottom: 5px solid rgb(230, 0, 127); */
  margin-bottom: 20px;
}
main .title::before {
  content: "";
  position: relative;
  display: block;
  width: 200px;
  height: 3px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 100px);
  top: 64px;
}
main .title::after {
  content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 5px;
  background: rgb(230, 0, 127);
  bottom: 0;
  left: calc(50% - 50px);
}
.timeline {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  -o-border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  /* border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%); */
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #34435e;
}
.timeline:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: #34435e;
  text-align: center;
  line-height: 1.25em;
  color: #fff;
  font-size: 1em;
}
.timeline:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  text-align: right;
}
.timeline:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
  background-color: rgb(230, 0, 127);
  color: white;
}
.timeline:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}
.timeline:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
  background-color: rgb(230, 0, 127);
  color: white;
}
.timeline:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.timeline:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} /*# sourceMappingURL=style.min.css.map */

.content p {
  border-left: 0px;
}
.heading-timeline {
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
}
.content-timeline {
  margin-top: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 545px) {
  .heading-timeline {
    font-size: 20px;
    line-height: 25px;
  }
  .content-timeline {
    font-size: 15px;
    margin-top: 5px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 700px) {
  main .title {
    width: 50%;
  }
}
@media only screen and (max-width: 450px) {
  main .title {
    width: 70%;
  }
}

.fa-file-pdf-o {
  margin-left: 5px;
}
.timelineLink {
  margin-top: 10px;
  margin-right: 5px;
  text-decoration: none;
  color: rgb(230, 0, 127);
  font-size: 20px;
}
.timelineLink:hover {
  text-decoration: underline;
}
