.container {
  /* margin-inline: 3%; */
  margin-block: 2%;
  /* border: 1px solid #d1d1d1; */
  padding-inline: 3%;
  border-radius: 0.375rem;
  padding-block: 1%;
  box-sizing: inherit;
  /* display: block; */
  display: grid;
}
.title {
  display: flex;
}
.teamName h1 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
}
.teamName p {
  color: rgb(105, 104, 104);
  font-weight: 400;
  margin-top: 5px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: rgba(250, 250, 250, 0.242);
  border-radius: 8px;
  /* border: 0.5px solid rgb(71, 71, 71); */
  /* border: 1px solid rgb(230, 0, 127); */
  /* border-color: black; */
  box-shadow: 3px 3px 15px #186edf1a;
  padding: 15px;
  /* display: inline-block; */
  /* width: calc(50% - 20px); */
  width: 50%;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  margin-inline: 14px;
  flex: 40%;
}
.badge {
  border-radius: 50px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  font-size: 11.35px;
  line-height: 13.73px;
  padding: 0 15px;
  font-weight: 500;
  margin-bottom: 10px;
  white-space: nowrap;
}
.badge-leader {
  /* background: rgba(230, 0, 127, 0.05); */
  background-color: rgba(0, 0, 0, 0.05);
  /* background: #99999939; */
  /* color: #0073e6; */
  color: rgb(230, 0, 127);
  /* color: black; */
}
.leader {
  display: flex;
}
.leader-name {
  margin-top: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  margin-bottom: 0;
}
.name {
  margin-top: 5px;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  margin-bottom: 0;
}
i {
  /* color: #0073e6; */
  /* color: rgb(230, 0, 127); */
  /* color: rgb(112, 74, 151); */
  margin-top: 5px;
  margin-left: 10px;
}
.fa-pen-to-square {
  margin-left: -3px;
  margin-top: 1px;
  margin-right: 5px;
  color: white;
}
.teamMembers p {
  margin-top: 5px;
}
.member {
  background: rgba(112, 74, 151, 0.1);
  color: #704a97;
}
.button {
  width: 100%;
  text-align: end;
}
.button button {
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;

  border-width: 1px;
  border-color: rgb(230, 0, 127);
  margin-right: 15px;
  /* color: rgb(101, 101, 101); */
  /* background-color: #d63500; */
  background-color: white;
  color: rgb(230, 0, 127);
  transition: all 0.2s;
}
.button button:hover {
  background: rgb(230, 0, 127);
  color: white;
  /* background: #d9dce0; */
}
button:disabled {
  opacity: 40%;
}
button:disabled:hover {
  cursor: default;
  background-color: white;
  color: rgb(230, 0, 127);
  border-width: 1px;
  border-color: rgb(230, 0, 127);
}
.createBtn button {
  background-color: rgb(230, 0, 127);
  color: white;
  width: 140px;
}
.createBtn button:hover {
  background-color: rgb(194, 12, 112);
}
.fa-solid {
  height: 13px;
  margin-right: 4px;
}
.badge p {
  font-weight: 700;
  margin: 0;
}
@media only screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .card {
    width: 90%;
    margin: auto;
    margin-top: 28px;
  }
}

.button a {
  background-color: rgb(230, 0, 127);
  color: white;
  text-decoration: none;
  padding: 5px 7px;
  border-radius: 5px;
  margin-right: 15px;
}
.button a:hover {
  opacity: 0.85;
}

/*  */
/* footer */
/*  */
.footer {
  background-color: rgb(23, 23, 23);
  color: white;
  display: flex;
  width: 100%;
  height: 400px;
  padding-top: 50px;
}

.leftFooter {
  width: 33%;
  padding: 40px;

  text-align: center;
}
.leftFooterContent {
  border-left: 5px solid rgb(230, 0, 127);
}
.leftFooterContent h2 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.leftFooterContent h3 {
  font-size: 15px;
  font-weight: 100;
  padding: 8px;
  font-weight: 600;
}
.leftFooter p {
  padding: 4px;
  font-size: 15px;
  line-height: 25px;
}
.fa-heart {
  color: red;
}

.middleFooter {
  width: 33%;
  padding: 40px;
}
.middleFooter h2 {
  font-size: 15px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.middleFooter p {
  padding-top: 20px;
  font-size: 15px;
  line-height: 25px;
}
.socials {
  display: flex;
}
.circle {
  background-color: white;
  margin: 5px;
  padding: 2px;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
}
.circle:hover {
  background-color: rgb(230, 0, 127);
  cursor: pointer;
}
.socials i {
  color: black;
  width: 100%;
  margin: 3.5px;
}

.rightFooter {
  width: 33%;
  padding: 40px;
}
.rightFooter h2 {
  font-size: 15px;
  padding-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.usefulLinks {
  padding-top: 20px;
  font-size: 15px;
  margin-left: 14px;
}
.rightFooter ul {
  list-style-type: circle;
  margin-top: 5px;
}
.usefulLinks a {
  text-decoration: none;
  color: white;
}
.usefulLinks a:hover {
  color: rgb(230, 0, 127);
}

/* footer responsive */
@media only screen and (max-width: 970px) {
  .footer {
    flex-direction: column;
    height: 900px;
  }
  .leftFooter {
    width: 100%;
  }
  .middleFooter {
    width: 50%;
  }
  .rightFooter {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .middleFooter {
    width: 100%;
  }
  .rightFooter {
    width: 100%;
  }
}
.fa-crown {
  color: #704a97;
}
